<div class="container__projetos">
    <a href="{{hospedagem}}" target="_blank" class="projetos">
        <div class="container__foto">
            <div class="container__foto-grande">
                <img src="../../../assets/imgs/projetosImg/{{imagemProjeto}}.PNG" alt="">
            </div>
            <div class="container__foto-pequena">
                <img src="{{imagemPequena}}" alt="">
            </div>
        </div>
        <div class="descricao">
            <h1>{{descricao}}</h1>
        </div>
    </a>
</div>