<div class="container__historia">
    <div class="historia">
        <h1>Minha História</h1>
        <p>Eu descobri o que era programação no final de 2022, me recomendaram o curso do Calábria, onde dei meus primeiros passos com programação e percebi que realmente gosto e que tenho potencial.</p>
        <p>No final do curso Calábria, pensei que não poderia ficar parado e me inscrevi em um bootcamp da DIO para aprender Angular, onde tive meu primeiro contato com um framework</p>
        <img src="https://avatars.githubusercontent.com/u/108766793?v=4" alt="">
    </div>
</div>
