<div class="index">
    <div class="container__sobre">
        <div class="sobre">
            <app-card-apresentacao-inicial></app-card-apresentacao-inicial>
        </div>
    </div>
    <div class="curso-historia">
        <div class="cursos">   
            <div class="curso">
                <app-card-cursos 
                    ensino="Curso"
                    nome="Rede Calábria Programação web"
                    duracao="03/2023 - 12/2023"
                    [aprendizado]="['Curso Profissionalizante','Javascritp, HTML, CSS, PHP e SQL']"
                >
                </app-card-cursos>
            </div>
            <div class="curso">
                <app-card-cursos 
                    ensino="Bootcamp"
                    nome="Desenvolvimento Frontend com Angular"
                    duracao="11/2023 - 02/2023"
                    [aprendizado]="['Fundamentos de Frontend','Fundamentos do Angular framework','Angular framework']"
                >
                </app-card-cursos>
            </div>
        </div>
        <div class="historia">
            <app-card-historia></app-card-historia>
        </div>
    </div>
</div>
