<div class="container__menu">
    <div class="menu">
        <ul>
            <li>
                <a
                    [routerLink]="['/']" 
                    [routerLinkActive]="['activeted']"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    Sobre
                </a>
            </li>
            <li>
                <a
                    [routerLink]="['/projetos']"
                    [routerLinkActive]="['activeted']"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                Projetos
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="espaco"></div>